<div class="view flex-row">
  <div class="flex-column left outer">
    <form class="chat flex-row" ng-submit="sendMessage()">
      <label class="input">Everyone</label><input class="chat" type="text" ng-model="messageInput.body" />
    </form>
    <section class="messages vertical-overflow" scroll-glue-bottom>
      <div class="message" ng-repeat="message in room.getMessages()">
        <p class="message"><strong class="message from" ng-style="{color: message.from.getChatColor()}">{{message.from.getChatName()}}:</strong>{{message.body}}</p>
      </div>
    </section>
    <h1>Public Chat</h1>
  </div>
  <div class="flex-column right outer">
    <div class="flex-column private chat" ng-if="room.owner !== me">
      <form class="chat flex-row" ng-submit="sendPrivateMessage(room.owner)">
        <label class="input">{{room.owner.name}}</label>
        <input class="chat" type="text" ng-model="room.owner.messageToSend" />
      </form>
      <aside class="messages vertical-overflow" scroll-glue-bottom>
        <div class="message" ng-repeat="message in room.owner.getPrivateMessages()">
          <p class="message"><strong class="message from">{{message.from.name}}:</strong>{{message.body}}</p>
        </div>
      </aside>
    </div>
    <div class="flex-column private chat" ng-repeat="player in room.getPlayers()" ng-if="player !== me">
      <form class="chat flex-row" ng-submit="sendPrivateMessage(player)">
        <label class="input">{{player.name}}</label><input class="chat" type="text" ng-model="player.messageToSend" />
      </form>
      <aside class="messages vertical-overflow" scroll-glue-bottom>
        <div class="message" ng-repeat="message in player.getPrivateMessages()">
           <p class="message"><strong class="message from">{{message.from.name}}:</strong>{{message.body}}</p>
        </div>
      </aside>
    </div>
    <h1>Private Chats</h1>
  </div>
</div>